@charset "utf-8";
html *{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(35,33,33);
    background-color: rgb(238, 238, 240);
}

.nav_wrap{
    margin: auto;
    width: 90%;
    padding: 12px;
    padding-left: 120px;
}

.nav_menu{
    width: 38%;
}

.links{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.link_item{
    font-size: 20px;
    padding-right: 32px;
}

a{
    color: rgb(104, 104, 104);
    transition: 0.4s;
}
a:link{
    text-decoration: none;
}
a:hover{
    color: rgb(35,33,33);
}



#main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    width: 80%;
}

.sidebar_sticky{
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 900px;
    padding:20px;
}

.author_avatar{
    border-radius: 50%;
    height: 100%;
    width: 100%;

}

.author_avatar_wrapper{
    width: 100%;
    margin: auto;
}

.author_content{
    padding-left: 14px;
}

.name{
    font-size: 22px;
    margin-bottom: 5px;
}

.bio{
    font-size: 13px;
    margin-top: 5px;
}

.page{
    padding:25px;
    padding-top: 40px;
}

.page_inner{
    padding-right:90px;
}